Checks: >
  modernize-*,
  portability-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type

HeaderFilterRegex: 'include/(runa|traits|patterns|core|logging|json|io|flow|heimdallcv|drawer)/.*'

WarningsAsErrors: '*'
